#test-gray {
    background-color: #c2c2c2;
}

.tab {
    cursor: pointer;
}
.tab>.tab-img {
    opacity: 0.6    
}

.tab.active>.tab-img{
    opacity: 1;
}

.tab:hover>.tab-img {
    opacity:0.9;
}


.tab-img {
    margin: auto;
    display: block;
    width: 100%;
}

.tab-pane {
    padding: 0 30px;
}

.tab-title {
    background-color: #37a0fa;
    text-align: center;
    padding: 5px;
}

.tab-container {
    background: white;
    min-height: 50px;
    width: 100%;
}

@media (max-width: 680px){
    .tab.active>.tab-title{
        box-shadow: 0 0 10px #c2c2c2;
        margin: 7px 0;
    }
    .tab-pane {
        padding: 5px 20px;
    }
    .tab-container {
        margin: 10px 0;
    }
}

.tab-title h3 {
    margin-top: 10px;
}

.tab>.tab-title h3 {
    color: #FFF;
}

.tab.active > .tab-title {
    background-color: #FFF;
}
.tab.active > .tab-title h3 {
    color: #333;
}

.tab.active:hover {
    opacity: 1;
    cursor: auto;
}

